<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SSE_EditCustomOptions>
            <version>0.0.0.1</version>
        </SSE_EditCustomOptions>
    </modules>
    <global>
        <models>
            <editcustomoptions>
                <class>SSE_EditCustomOptions_Model</class>
            </editcustomoptions>
        </models>
        <helpers>
            <editcustomoptions>
                <class>SSE_EditCustomOptions_Helper</class>
            </editcustomoptions>
        </helpers>
        <blocks>
            <editcustomoptions>
                <class>SSE_EditCustomOptions_Block</class>
            </editcustomoptions>
        </blocks>
    </global>
    <frontend>
    	<layout>
    		<updates>
    			<editcustomoptions>
    				<file>sse_editcustomoptions.xml</file>
    			</editcustomoptions>
    		</updates>
    	</layout>
    	<events>
           <core_block_abstract_to_html_before>
               <observers>
                   <editcustomoptions>
                       <type>singleton</type>
                       <class>editcustomoptions/observer</class>
                       <method>addPopupBlockToLayout</method>
                   </editcustomoptions>
               </observers>
           </core_block_abstract_to_html_before>
           <core_block_abstract_to_html_after>
               <observers>
                   <editcustomoptions>
                       <type>singleton</type>
                       <class>editcustomoptions/observer</class>
                       <method>removePopupBlockFromLayout</method>
                   </editcustomoptions>
               </observers>
           </core_block_abstract_to_html_after>
    	</events>
        <routers>
            <editcustomoptions>
                <use>standard</use>
                <args>
                    <module>SSE_EditCustomOptions</module>
                    <frontName>editcustomoptions</frontName>
                </args>
            </editcustomoptions>
        </routers>
    </frontend>
    <default>
        <sales>
            <editcustomoptions>
                <allowed_order_state>new,holded</allowed_order_state>
            </editcustomoptions>
        </sales>
    </default>
</config>